{% extends 'Base.html' %}
{% block widgets %}{% endblock widgets %}
{% block title %}{{ block.super }} | Change Profile Picture{% endblock title %}
{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-md-6 mb-5">
        <div class="glass-card text-center">
            <h5 style="font-weight:700;margin-bottom:1.5rem;"><i class="fas fa-camera mr-1"></i> Change Profile Picture</h5>
            <img class="profile_picture" src="{{ request.user.profile.image.url }}" alt="{{request.user}}" style="margin-bottom:1.5rem;border-radius:var(--radius-lg);">
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image" class="form-control-file my-3" style="color:var(--text-secondary);">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block" style="margin-top:1rem;">
                    <i class="fas fa-upload mr-1"></i> Upload Picture
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
