{% extends 'Base.html' %}
{% block widgets %}{% endblock widgets %}
{% block title %}{{ block.super }} | {{ request.user|title }} Profile{% endblock title %}
{% block content %}

<div class="row my-4 mb-5">
    <div class="col-md-4">
        <div class="glass-card text-center">
            <h5 style="font-weight:700;margin-bottom:1.5rem;"><i class="fas fa-camera mr-1"></i> Profile Picture</h5>
            <img class="rounded-circle profile_picture" src="{{ request.user.profile.image.url }}" alt="{{request.user}}" style="margin-bottom:1.5rem;">
            <a class="btn btn-primary btn-block" href="{% url 'update_image' %}" role="button">
                <i class="fas fa-edit mr-1"></i> Change Picture
            </a>
        </div>
    </div>
    <div class="col-md-8 mb-5">
        <div class="glass-card">
            <h5 style="font-weight:700;margin-bottom:1.5rem;">
                <i class="fas fa-id-card mr-1"></i>
                {% if 'profile' in request.path %}
                Profile Details
                {% else %}
                All Posts
                {% endif %}
            </h5>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block" style="margin-top:1rem;">
                    <i class="fas fa-save mr-1"></i> Update Profile
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
