<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="StylePredictor - AI Fashion Predictor">
    <title>{% block title %}StylePredictor{% endblock title %}</title>
    {% include 'partials/_styles.html' %}
</head>
<body>
    <div class="container" style="padding-top: 40px;">
        {% block content %}{% endblock content %}
        {% block widgets %}{% include 'partials/_widgets.html' %}{% endblock widgets %}
    </div>

    {% include 'partials/_footer.html' %}
</body>
</html>
